* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Arial, sans-serif;
    background: #0f172a;
    color: white;
    min-height: 100vh;
}

.container {
    max-width: 450px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}

.subtitle {
    text-align: center;
    color: #94a3b8;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card {
    background: #1e293b;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.35);
}

input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#stockData,
#result {
    margin-top: 25px;
    background: #1e293b;
    border-radius: 20px;
    padding: 20px;
}
